#box1{
    width: 740px;
    overflow: hidden;
    margin: 0 0 20px 0;
}

#bg{
    background: url('../images/highlight.png') top left repeat-x;
    padding: 0 0 64px 0;
}

#content{
    width: 740px;
    margin: 0 0 0 192px;
    padding: 0;
}

#copyright{
    text-align: center;
    color: #819B95;
    top: 200px;
    padding: 132px 0 0 0;
}

