<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0"
        metadata-complete="true">

    <display-name>perfect-ssm</display-name>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:ctsi/credit/spring.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--===========================================-->
    <!--thymeleaf-->
    <!--<servlet>-->
        <!--<servlet-name>thymeleafDispatcher</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->

        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>classpath:thymeleaf/dispatcher-servlet.xml</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>2</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>thymeleafDispatcher</servlet-name>-->
        <!--<url-pattern>*.html</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--===========================================-->

    <!--==================乱码！！！=========================-->

    <!--<filter>-->
        <!--<filter-name>encodingFilter</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>encoding</param-name>-->
            <!--<param-value>UTF-8</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>encodingFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->


    <!--==================监听器！！！启动Web容器时，自动装配ApplicationContext的配置信息=========================-->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

   		 <!--
   		 	classpath:spring-context.xml,
            classpath:ctsi/a/spring-context-ctsi.xml,
            classpath:ctsi/credit/spring.xml
		-->
     <!--spring请求配置，指向springmvc的核心配置文件，定义所有以.do结尾的请求都被springmvc拦截-->
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>-->
            <!--classpath:ctsi/credit/springmvc.xml,-->
            <!--&lt;!&ndash;classpath:ctsi/a/spring-context-ctsi.xml,&ndash;&gt;-->
            <!--classpath:ctsi/credit/spring.xml-->
        <!--</param-value>-->
    <!--</context-param>-->
    <!--<servlet>-->
        <!--<servlet-name>springMVC</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>classpath:spring-context-mvc.xml</param-value>-->
        <!--</init-param>-->
        <!--&lt;!&ndash;加载顺序为1 &ndash;&gt;-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>springMVC</servlet-name>-->
        <!--<url-pattern>*.b</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--===========================================-->
    <!--<servlet>-->
        <!--<servlet-name>ctsiA</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>classpath:ctsi/a/spring-context-mvc-ctsi.xml</param-value>-->
        <!--</init-param>-->
        <!--&lt;!&ndash;加载顺序为1 &ndash;&gt;-->
        <!--<load-on-startup>3</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>ctsiA</servlet-name>-->
        <!--<url-pattern>*.c</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--===========================================-->
    <!--<servlet>-->
        <!--<servlet-name>ctsiCredit</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>classpath:ctsi/credit/spring.xml</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>4</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>ctsiCredit</servlet-name>-->
        <!--<url-pattern>*.html</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--&lt;!&ndash;===========================================&ndash;&gt;-->
    <!--&lt;!&ndash;错误页面配置,这里只是简单的配置了一下 &ndash;&gt;-->
    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/vwCredit/index.html</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<error-code>405</error-code>-->
        <!--<location>/vwCredit/index.html</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<error-code>415</error-code>-->
        <!--<location>/login.jsp</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<error-code>500</error-code>-->
        <!--<location>/login.jsp</location>-->
    <!--</error-page>-->
    <!--错误页面配置 -->
</web-app>